section, header, footer, body, ul {
  margin: 0;
  padding: 0;
}

section {
  margin: 150px 0 0 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "GilsonR";
  max-width: 120rem;
}

.container {
  max-width: 1296px;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
}

h3 {
  font-size: 1.68rem;
  font-weight: 700;
}

h1, h2, h3 {
  color: #fff;
  font-family: "GilsonB";
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}

@font-face {
  font-family: "GilsonR";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "GilsonM";
  src: url(../fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "GilsonSB";
  src: url(../fonts/Gilroy-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GilsonB";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
h4 {
  font-family: "GilsonSB";
  font-size: 1.31rem;
  margin: 0;
  padding: 25px 0 0 0;
}

.header {
  font-family: "GilsonM";
  background: url(../img/headerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 0 10px;
}

.header__bar, .footer__bar {
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.header__social, .footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.promo {
  background: url(../img/headerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

.promo__text-content {
  padding: 200px 0;
}

.promo__turntable {
  display: flex;
  gap: 30px;
  padding-top: 60px;
}
.promo__turntable p {
  font-family: "GilsonSB";
  font-size: 18px;
}

.playButton {
  background-color: #8D86C9;
  padding: 30px;
  line-height: 0;
  text-align: center;
  border-radius: 50%;
  width: 18px;
}

.little {
  font-size: 1.1rem;
  font-family: "GilsonSB";
}

.services__cards {
  display: flex;
  gap: 12px;
}
.services__cards p {
  font-size: 1.5rem;
  font-family: "GilsonB";
}

.services__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8D86C9;
  padding: 0 35px;
  width: 100%;
}

.coating__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.coating__container img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.coating__card {
  position: relative;
  text-align: center;
}
.coating__card h3 {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.info p, .info h2, .info h3 {
  color: #333333;
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__img {
  margin-right: -15%;
  z-index: 1;
  max-width: 100%;
}
.info__img img {
  max-width: 87%;
  -o-object-fit: contain;
  object-fit: contain;
}

.info__text-content {
  background: #F7ECE1;
  padding: 70px 60px 84px 146px;
  max-width: 25rem;
}
.info__text-content li {
  font-size: 0.8rem;
  padding-top: 25px;
}
.info__text-content li::before {
  content: url(../img/icons/square.svg);
  color: #8D86C9;
  padding-right: 23px;
}

.trainers p, .trainers h4, .trainers h2 {
  color: #333333;
}

.trainers__title {
  display: flex;
  justify-content: space-between;
}

.title__arrows {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 15px;
}

.arrow {
  background: #8D86C9;
  padding: 15px;
}

.other__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.trainers__list {
  margin-top: 75px;
}
.trainers__list ul {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 10px;
}
.trainers__list li {
  max-width: 15.5%;
}

.trainers__item_img {
  padding: 0 15px;
}
.trainers__item_img img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.trainers__item_text-content {
  text-align: center;
}

.price, .services {
  margin: 0;
  width: 45%;
}
.price h2, .services h2 {
  color: #333333;
}
.price h4, .price h3, .services h4, .services h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.price__bar {
  gap: 20px;
  margin-top: 75px;
  max-width: 100%;
}

.price__item {
  background: #8D86C9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 12px 20px;
  margin-top: 30px;
}

.services__title {
  display: flex;
  justify-content: space-between;
}

.position-block {
  position: relative;
  margin-top: 75px;
}

.services__img {
  padding: 30px 25px;
}
.services__img img {
  max-width: 100%;
}

.services__text-content {
  position: absolute;
  bottom: 60px;
  left: 65px;
}

footer {
  background: #F7ECE1;
  margin-top: 150px;
}

.footer__container {
  display: flex;
  padding: 38px 0;
  justify-content: space-between;
  align-items: center;
}
.footer__container p, .footer__container a {
  font-size: 14px;
  color: #333333;
}

@media (max-width: 1040px) {
  .services__cards {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
  .services__card {
    width: 40%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
  .trainers__list ul {
    flex-wrap: wrap;
  }
  .trainers__list li {
    max-width: 25%;
    text-align: center;
  }
  .other__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price, .services {
    width: 70%;
  }
  .services__img {
    text-align: center;
    padding: 0;
  }
  .services__text-content {
    bottom: 30px;
  }
}
@media (max-width: 780px) {
  .services__card {
    width: 100%;
  }
  .coating__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .coating__container .coating__card {
    max-width: 100%;
  }
  .info__img {
    display: none;
  }
}
@media (max-width: 768px) {
  .fixed-page {
    overflow: hidden;
  }
  .burger {
    display: flex;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 2;
  }
  .burger::after, .burger::before, .burger .burger-span {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    transition: 0.4s;
  }
  .burger.active::after, .burger.active::before, .burger .active span {
    background: #333333;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
  .burger.active::after {
    transform: rotate(48deg);
    bottom: 10px;
  }
  .burger.active::before {
    transform: rotate(-48deg);
    top: 12px;
  }
  .burger.active span {
    opacity: 0;
  }
  .burger-span {
    top: 11px;
  }
  .active {
    display: block;
  }
  .header__nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background: #fff;
    overflow: auto;
  }
  .header__nav li {
    font-size: 3rem;
    cursor: pointer;
    width: 100%;
  }
  .header__nav li a {
    color: #333333;
  }
  .header__nav.active {
    left: 0;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 80%;
  }
  .trainers__item_img {
    padding: 0;
  }
  .footer__container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
  .footer__nav ul {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer__nav li {
    width: 40%;
  }
}
@media (max-width: 531px) {
  html {
    font-size: 70%;
  }
  .trainers__list ul {
    justify-content: center;
  }
  .trainers__list li {
    max-width: 100%;
  }
  .trainers__item_text-content {
    max-width: 80%;
    margin: 0 auto;
  }
  .info__text-content {
    padding: 70px;
  }
}