@media (max-width:1040px) {
    .services__cards{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    .services__card {
        width: 40%;
    }
}
@media (max-width: 992px){
    html{font-size: 90%;}
    .trainers__list {
        ul {
            flex-wrap: wrap;
        }
        li {
            max-width: 25%;
            text-align: center;
        }
    }
    .other__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price,.services {
        width: 70%;
    }
    .services__img {
        text-align: center;
        padding: 0;
    }
    .services__text-content {
        bottom: 30px;
    }
}
@media (max-width: 780px){
    .services__card {
        width: 100%;
    }
    .coating__container {
        flex-wrap: wrap;
        justify-content: center;
        .coating__card {
            max-width: 100%;
        }
    }
    .info__img {
        display: none;
    }
   
}

//Бургер меню V.2
@import "burger";
//Бургер меню V.2

@media (max-width: 680px){
    html {font-size: 80%;}
    .trainers__item_img {
        padding: 0;
    }
    .footer__container {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }
    .footer__nav {
        ul {
            max-width: 100%;
            align-items: center;
            justify-content: center;
        }
        li {
            width: 40%;

        }
    }
}
@media (max-width: 531px){
    html {font-size: 70%;}
    .trainers__list {
        ul {
            justify-content: center;
        }
        li {
            max-width: 100%;
        }
    }
    .trainers__item_text-content {
        max-width: 80%;
        margin: 0 auto;
    }
    .info__text-content {
        padding: 70px;
    }
   
}
@media (max-width: 379px){
}

